/* Base reset & fallback (generator.js で上書き) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#svg-container svg {
  display: none;
}

@keyframes svg_filter {
  0% { filter: url(#svg_filter_0); }
  25% { filter: url(#svg_filter_1); }
  50% { filter: url(#svg_filter_2); }
  75% { filter: url(#svg_filter_3); }
  100% { filter: url(#svg_filter_4); }
}
